.principalContainer{
    position: relative;
    display: flex;
    justify-content: center;
}
.navbarContainer{
    position: relative;
    display: flex;
    justify-content: center;
    top: 0rem;
}

.buttom{
    outline: none;
    margin-left: 1.5rem;
    border:#A173D4 1px solid;
}