.containerCard{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 5rem;
    margin:1.5rem;
    background-color: #1a1a1a;
    border-radius: 10px;
    transition: all 0.25s;
    box-shadow: 0 6px 10px rgba(184, 152, 223, 0.2)
}
.containerCard:hover{
    /* transform: translateY(-1rem); */
    box-shadow: 0 6px 10px rgba(184, 152, 223, 0.3), 0 -6px 10px rgba(188, 161, 219, 0.3); 
}

.image{
    border-radius: 10px;
    border-bottom-left-radius: 0px; 
    border-bottom-right-radius: 0px;
}
.detail{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a173d4;
    text-align: center;
    color: #ffff;
    height: 50px;
    width: 30%;
    border-radius: 5px;
    border: #0C001A 1px solid;
    transition: all 0.3s;
    margin: 15px 0px;
    font-size: 20px;
    font-weight: bolder;
}
.detail:hover{
    /* background-color: white; */
    transform: scale(1.11);
    color: #ffff;
}
.containerDescription{
    position: relative;
    color: white;
}
.tittle{
    color: #a173d4;
    font-weight: bolder;
    font-size: 25px;
    height:min-content;
    margin: 10px 0px;
}
.genres{
    color: white;
    font-size: 18px;
    height:min-content;
    margin: 10px 0px 0px 0px;
}