.principalContainer {
    background: url('purple-gaming-background.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    min-height: 100vh;
    min-width: 204vh;
    overflow-x: hidden;
}

.container{
    position: relative;
    display: flex;
    align-items: center;
    width: 500px;
    height: 490px;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
}
.greeting{
    position: absolute;
    top: 2rem;
    color: #F2E5FF;
}

.presentation{
    position: absolute;
    font-size: 1.7rem;
    top: 14.1rem;
    color: #fff;
}
.presentation:hover{
    color: #F2E5FF;
}

.button{
    position: absolute;
    bottom: 3rem;
    width: 80%; 
    height: 50px;
    background: #1f1f1f;
    color: #AB04D9;
    border-radius: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 600;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    border: 1px solid #A173D4;
}
.button:hover{
    background-color: #0C001A;
    color: #A173D4;
    border: 1px solid #AB04D9;
}
.loginText{
    position: absolute;
    top: 1rem;
    font-size: 2rem;
    color:#fff;
}