.containerPaginated{
    position: relative;
    bottom:-14rem;
    display: flex;
    justify-content: center;
}
.unorderedList{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 2rem;
}
.listItem{
    margin:1rem;
    font-size: 1.5rem;
    cursor: pointer;
}